/ External Javascript
%script(type="text/javascript" src="../js/jquery-2.2.4.min.js")
%script(type="text/javascript" src="../js/tether.min.js")
%script(type="text/javascript" src="../js/bootstrap.min.js")
%script(type="text/javascript" src="../js/jquery.nicescroll.min.js")
%script(type="text/javascript" src="../js/metisMenu.min.js")
%script(type="text/javascript" src="../js/fileinput.min.js")
%script(type="text/javascript" src="../js/modernizr-custom.js")
%script(type="text/javascript" src="../js/Chart.bundle.min.js")
%script(type="text/javascript" src="../js/cp-chart.js")
%script(type="text/javascript" src="../js/cp-chart-home.js")
%script(type="text/javascript" src="../js/cp-chart-user.js")
%script(type="text/javascript" src="../js/cp-chart-driver.js")
%script(type="text/javascript" src="../js/cp-chart-customer.js")
%script(type="text/javascript" src="../js/cp-chart-trip.js")
%script(type="text/javascript" src="../js/cp-chart-vehicle.js")
%script(type="text/javascript" src="../js/cp-chart-notification.js")
%script(type="text/javascript" src="../js/cp-chart-service.js")
%script(type="text/javascript" src="../js/cp-chart-finance.js")
%script(type="text/javascript" src="../js/cp-chart-total-income.js")
%script(type="text/javascript" src="../js/cp-chart-business.js")
%script(type="text/javascript" src="../js/cp-chart-payment.js")
%script(type="text/javascript" src="../js/cp-chart-news.js")
%script(type="text/javascript" src="../js/cp-chart-geography.js")
%script(type="text/javascript" src="https://cdn.ckeditor.com/4.6.0/full/ckeditor.js")
%script(type="text/javascript" src="../js/main.js")

\</body>
\</html>