%aside#sidebar
  .sidebar-image
  .sidebar-nav(data-scollable)
    .user-info
      .cp-image-circle
        %img(src="../images/login/user-avatar.png" )
      %ul.nav.nav-pills.nav-stacked#user-menu
        %li
          %a#user-name(href="#" data-target="#user-menu-item" data-toggle="collapse" data-parent="#user-menu") <span>Lady Killer</span><i class="cp-icn-caret-down icn-right"></i>
          %ul.nav.nav-stacked.collapse#user-menu-item
            %li
              %a(href="user-detail.html") <i class="cp-icn-profile icn-left"></i><span>View Profile</span>
            %li
              %a(href="user-edit.html") <i class="cp-icn-edit-profile icn-left"></i><span>Edit Profile</span>
            %li
              %a(href="user-change-pass.html") <i class="cp-icn-change-pass icn-left"></i><span>Change Password</span>
            %li
              %a(href="#") <i class="cp-icn-sign-out icn-left"></i><span>Log Out</span>
    %hr

    %ul.metismenu#sidebar-menu
      %li
        %a.active-alone(href="index.html" aria-expanded="false" ) <i class="cp-icn-dashboard icn-left"></i><span>Dashboard</span>
      %li
        %a(href="#" aria-expanded="false" ) <i class="cp-icn-user icn-left"><span class="menu-item"></i>User</span><i class="cp-icn-caret-down icn-right"></i>
        %ul(aria-expanded="false" )
          %li
            %a(href="user-dashboard.html" )Dashboard
          %li
            %a(href="user-list-user.html" )List User
          %li
            %a(href="user-create-user.html" )Create User
          %li
            %a(href="user-role.html" )User Roles
          %li
            %a(href="user-configuration.html" )Configuration
      %li
        %a(href="#" aria-expanded="false" ) <i class="cp-icn-driver icn-left"></i><span class="menu-item">Driver</span><i class="cp-icn-caret-down icn-right"></i>
        %ul(aria-expanded="false" )
          %li
            %a(href="driver-dashboard.html" )Dashboard
          %li
            %a(href="driver-list-driver.html" )List Driver
          %li
            %a(href="driver-create-driver.html" )Create Driver
          %li
            %a(href="driver-create-driver.html" )Driver Group
          %li
            %a(href="driver-group.html" )Driver Report
          %li
            %a(href="driver-configuration.html" )Configuration
      %li
        %a(href="#" aria-expanded="false" ) <i class="cp-icn-customer icn-left"></i><span class="menu-item">Customer</span><i class="cp-icn-caret-down icn-right"></i>
        %ul(aria-expanded="false" )
          %li
            %a(href="customer-dashboard.html" )Dashboard
          %li
            %a(href="customer-list-customer.html" ) <span class="submenu-item">List Customer </span><span class="cp-bubble cp-bubble-danger">5</span>
          %li
            %a(href="customer-create-customer.html" )Create Customer
          %li
            %a(href="customer-list-customer.html" )Cancelation Reason
          %li
            %a(href="customer-create-customer.html" )Customer Report
          %li
            %a(href="customer-configuration.html" )Configuration
      %li
        %a(href="#" aria-expanded="false" ) <i class="cp-icn-trips icn-left"></i><span class="menu-item">Trips</span><i class="cp-icn-caret-down icn-right"></i>
        %ul(aria-expanded="false" )
          %li
            %a(href="trip-dashboard.html" )Dashboard
          %li
            %a(href="trip-new.html" ) <span class="submenu-item">New </span><span class="cp-bubble cp-bubble-success">25</span>
          %li
            %a(href="trip-in-progress.html" ) <span class="submenu-item">In Progress </span><span class="cp-bubble cp-bubble-success">120</span>
          %li
            %a(href="trip-completed.html" ) <span class="submenu-item">Completed </span><span class="cp-bubble cp-bubble-success">4220</span>
          %li
            %a(href="trip-cancelled.html" ) <span class="submenu-item">Cancelled </span><span class="cp-bubble cp-bubble-success">13</span>
          %li
            %a(href="trip-complete.html" )Complete
          %li
            %a(href="trip-cancel.html" )Cancel
          %li
            %a(href="trip-configuration.html" )Configuration
      %li
        %a(href="#" aria-expanded="false" ) <i class="cp-icn-vehicle icn-left"></i><span class="menu-item">Vehicles</span><i class="cp-icn-caret-down icn-right"></i>
        %ul(aria-expanded="false" )
          %li
            %a(href="vehicle-dashboard.html" )Dashboard
          %li
            %a(href="vehicle-brand.html" )Brand
          %li
            %a(href="vehicle-model.html" )Model
          %li
            %a(href="vehicle-type.html" )Type
          %li
            %a(href="vehicle-list-vehicle.html" )List Vehicle
          %li
            %a(href="vehicle-create-vehicle.html" )Create Vehicle
          %li
            %a(href="vehicle-configuration.html" )Configuration
      %li
        %a(href="#" aria-expanded="false" ) <i class="cp-icn-notification icn-left"></i><span class="menu-item">Notification</span><i class="cp-icn-caret-down icn-right"></i>
        %ul(aria-expanded="false" )
          %li
            %a(href="noti-dashboard.html" )Dashboard
          %li
            %a(href="noti-list.html" )Notification List
          %li
            %a(href="noti-categories.html" )Notification Categories
          %li
            %a(href="noti-create-noti.html" )Create Notification
          %li
            %a(href="noti-customer-devices.html" )Customer Devices
          %li
            %a(href="noti-driver-devices.html" )Driver Devices
          %li
            %a(href="noti-send-sms.html" )Send SMS
          %li
            %a(href="noti-configuration.html" )Configuration
      %li
        %a(href="#" aria-expanded="false" ) <i class="cp-icn-service icn-left"></i><span class="menu-item">Fare & Service</span><i class="cp-icn-caret-down icn-right"></i>
        %ul(aria-expanded="false" )
          %li
            %a(href="service-dashboard.html" )Dashboard
          %li
            %a(href="service-service-type.html" )Service Type
          %li
            %a(href="service-create-service.html" )Create Service Type
          %li
            %a(href="service-location-fare.html" )Location & Fare
          %li
            %a(href="service-create-location.html" )Create Location
          %li
            %a(href="service-configuration.html" )Configuration
      %li
        %a(href="#" aria-expanded="false" ) <i class="cp-icn-finance icn-left"></i><span class="menu-item">Finance</span><i class="cp-icn-caret-down icn-right"></i>
        %ul(aria-expanded="false" )
          %li
            %a(href="finance-dashboard.html" )Dashboard
          %li
            %a(href="finance-driver-transaction.html" )Driver Transaction
          %li
            %a(href="finance-deposit.html" )Deposit
          %li
            %a(href="finance-withdraw.html" )Withdraw
          %li
            %a(href="finance-bonus.html" )Bonus
          %li
            %a(href="finance-pay-fines.html" )Pay Fine
          %li
            %a(href="finance-income-balance.html" )Income & Balance
          %li
            %a(href="finance-configuration.html" )Configuration
      %li
        %a(href="#" aria-expanded="false" ) <i class="cp-icn-business icn-left"></i><span class="menu-item">Business & Report</span><i class="cp-icn-caret-down icn-right"></i>
        %ul(aria-expanded="false" )
          %li
            %a(href="#" )Dashboard
          %li
            %a(href="#" )Section 1
          %li
            %a(href="#" )Section 2
          %li
            %a(href="#" )Section 3
          %li
            %a(href="#" )Section 4
          %li
            %a(href="#" )Section 5
          %li
            %a(href="#" )Configuration
      %li
        %a(href="#" aria-expanded="false" ) <i class="cp-icn-payment icn-left"></i><span class="menu-item">Payment</span><i class="cp-icn-caret-down icn-right"></i>
        %ul(aria-expanded="false" )
          %li
            %a(href="#" )Dashboard
          %li
            %a(href="#" )Section 1
          %li
            %a(href="#" )Section 2
          %li
            %a(href="#" )Section 3
          %li
            %a(href="#" )Section 4
          %li
            %a(href="#" )Section 5
          %li
            %a(href="#" )Configuration
      %li
        %a(href="#" aria-expanded="false" ) <i class="cp-icn-news icn-left"></i><span class="menu-item">News & Article</span><i class="cp-icn-caret-down icn-right"></i>
        %ul(aria-expanded="false" )
          %li
            %a(href="#" )Dashboard
          %li
            %a(href="#" )Section 1
          %li
            %a(href="#" )Section 2
          %li
            %a(href="#" )Section 3
          %li
            %a(href="#" )Section 4
          %li
            %a(href="#" )Section 5
          %li
            %a(href="#" )Configuration
      %li
        %a(href="#" aria-expanded="false" ) <i class="cp-icn-online-register icn-left"></i><span class="menu-item">Online Register Driver</span><i class="cp-icn-caret-down icn-right"></i>
        %ul(aria-expanded="false" )
          %li
            %a(href="#" )Dashboard
          %li
            %a(href="#" )Section 1
          %li
            %a(href="#" )Section 2
          %li
            %a(href="#" )Section 3
          %li
            %a(href="#" )Section 4
          %li
            %a(href="#" )Section 5
          %li
            %a(href="#" )Configuration
      %li
        %a(href="#" aria-expanded="false" ) <i class="cp-icn-geography icn-left"></i><span class="menu-item">Geography</span><i class="cp-icn-caret-down icn-right"></i>
        %ul(aria-expanded="false" )
          %li
            %a(href="#" )Dashboard
          %li
            %a(href="#" )Section 1
          %li
            %a(href="#" )Section 2
          %li
            %a(href="#" )Section 3
          %li
            %a(href="#" )Section 4
          %li
            %a(href="#" )Section 5
          %li
            %a(href="#" )Configuration
